* {
   font-family: sans-serif;
}
div {
   width: 100%;
   border: 1px solid gray;
}
header, footer {
   padding: 1em;
   color: #b1010;
   background-color: #55bfec;
}
p {
   font-size: 0.95em;
   margin-left: 20px;
   margin-right: 50px;
}
h1, h2, h3, h4 {
   margin-left: 20px;
}
nav.left {
   float: left;
   max-width: 280px;
   margin: 0;
   padding: 0.5em;
}
a {
   text-decoration: none;
}
ol li {
   font-size: 0.95em;
   margin-top: 1em;
   margin-right: 50px;
}
ul li {
   font-size: 0.95em;
   margin-top: 1em;
   margin-right: 10px;
}
hr {
   height: 6px;
   color:#55bfec;
   background-color:#55bfec;
   border: none;
}
article.right {
   margin-left: 160px;
   border-left: 1px solid gray;
   padding: 1em;
   overflow: hidden;
}
article ul li {
   margin-top: 0.5em;
}
table {
   font-size: 0.90em;
   margin-left: 20px;
   border-collapse: collapse;
}
td, th {
   border: 2px solid #55bfec;
   padding: 5px;
}
