* {
   font-family: sans-serif;
}
p {
   font-size: 0.95em;
   margin-left: 20px;
   margin-right: 50px;
}
h1, h2, h3, h4 {
   margin-left: 20px;
}
nav.left {
   position: fixed;
   float: left;
   width: 300px;
   margin: 0;
   padding: 0.5em;
   font-size: 0.95em;
   overflow: hidden;
}
a {
   text-decoration: none;
}
div.top {
   height: 100px;
   padding: 1em;
   background-color:#55bfec;
}
ol li {
   font-size: 0.95em;
   margin-top: 0.5em;
   margin-right: 50px;
}
ul li {
   font-size: 0.95em;
   margin-top: 1em;
   margin-right: 10px;
}
hr {
   height: 5px;
   color:#55bfec;
   background-color:#55bfec;
   border: none;
}
article.right {
   margin-left: 300px;
   border-left: 1px solid gray;
   padding: 1em;
   overflow: auto;
}
article ul li {
   margin-top: 0.5em;
}
table {
   font-size: 0.90em;
   margin-left: 20px;
   border-collapse: collapse;
}
td, th {
   border: 2px solid #55bfec;
   padding: 5px;
}
